* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Verdana', 'sans-serif';
    background-color: #f7f1e6;
    color: #2b2621;
    line-height: 1.7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}